.fale-conosco{
    background: url(../imagens/fale-atrios.png);
    background-size: cover;
    color: #fff;
}
.fale-conosco h2{
    text-align: center;
    font-size: 50px;
    padding: 50px 0;
    font-weight: bold;
}
.info-fale{
    display: flex;
    padding-bottom: 70px;
}
.info-fale .txt-fale{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.info-fale .txt-fale p{
    text-align: center;
    width: 52%;
    margin: auto;
    font-family: 'Futura';
    font-size: 23px;
}
.info-fale .txt-fale .fone-fale{
    display: flex;
    width: 80%;
    flex-direction: row;
    margin: auto;
}
.txt-fale .fone{
    width: 100%;
    display: block;
    float: right;
}
.txt-fale .fone p{
    width: 100%;
    padding-right: 10px;
    text-align: right;
}
.txt-fale .wpp{
    width: 100%;
}
.txt-fale .wpp p{
    width: 100%;
    margin-left: 10px;
    text-align: left;
}
.form-fale{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    width: 34%;
}
.form-fale input, .form-fale textarea{
    background: #A91314;
    border: none;
    margin-bottom: 13px;
    padding: 0 20px;
}
.form-fale input::placeholder, .form-fale textarea::placeholder{
    color: #fff;
}
.form-fale button{
    width: 100%;
    background: #A91314;
    color: #fff;
    font-size: 30px;
}
footer{
    background: #A91314;
    color: #FFF;
}
.custom-eixo{
    display: flex;
    gap: 80px;
    padding: 60px 0 100px 0;
}
.coluna1{
    display: flex;
    height: 100%;
    align-self: center;
}
.coluna2 .f-social{
    display: flex;
    flex-direction: column;
    width: 8%;
    position: relative;
    float: left;
    height: 100%;
    justify-content: center;
    gap: 20px;
}
.coluna2 .f-txt{
    display: flex;
    flex-direction: column;
    width: 63%;
    float: left;
    margin-left: 40px;
    font-family: 'Futura';
}
.f-txt p{
    font-family: 'Futura';
    margin: 0;
    display: inline;
}
.coluna3{
    display: flex;
    gap: 70px;
}
.coluna3 ul{
    list-style: none;
    text-align: center;
    align-self: center;
    padding: 0;
}
.f-txt .local{
    margin-bottom: 30px;
}
.local img{
    position: absolute;
}
.local p{
    position: relative;
    top: 25px;
    left: 35px;
}
.fones img{
    position: absolute;
}
.fones .u-fones{
    position: relative;
    top: 35px;
    left: 35px;
}
.fones .u-fones div{
    display: flex;
    gap: 10px;
    margin: 5px 0px;
}
.fones .u-fones img{
    position: relative;
}
.coluna3 ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}
.coluna3 ul li a:hover{
    text-decoration: underline;
}
img.ico-cel {
    margin: 0 4px;
}
.coluna3 span{
    background: #fff;
    color: #A91314;
    padding: 5px 21px;
    border-radius: 25px;
}
.copyright{
    width: 100%;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    color: #A91314;
    padding: 11px 0;
    height: 100%;
}
.copyright p{
    margin:0;
}
.mapa iframe{
    margin-bottom: -10px;
}